body {
  position: relative;
  margin: 0;
  height: 3000px;
  background-image: url("https://mblogthumb-phinf.pstatic.net/20160127_177/krazymouse_1453865104404DjQIi_PNG/%C4%AB%C4%AB%BF%C0%C7%C1%B7%BB%C1%EE_%B6%F3%C0%CC%BE%F0.png?type=w2");
  background-repeat: no-repeat;
  /* 곰돌이 반복 제거 */
  background-position: top right;
  /* 라이언 오른쪽 위 고정 */
  background-attachment: fixed;
  /* 스크롤시 라이언 고정 */
}
.grad {
  position: static;
  left: 20px;
  height: 3000px;
  width: 100px;
  background: linear-gradient(orange, black);
}
/* 그라데이션 div 세부 속성 */

.flex-container-top {
  position: fixed;
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #f2d7d9;

  /* position: absolute; */

  justify-content: space-around;
  align-items: center;
}
.top-item {
  flex-basis: 150px;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  font-weight: 700;
  background-color: #d3cedf;

  text-align: center;
  box-sizing: border-box;
  padding-top: 12px;
}
.flex-container-bottom {
  bottom: 0;
  position: fixed;
  display: inline-flex;
  width: 100%;
  height: 70px;
  background-color: #9cb4cc;
  text-align: center;
  align-items: center;
}
.bottom-item {
  text-align: center;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  font-weight: 700;
  background-color: #748da6;
  flex-grow: 1;
  padding-top: 12px;
  flex-basis: 0;
  /* 맨 밑 추가자료 참조 */
}
.flex-container-bottom *:nth-child(4) {
  flex-grow: 2;
}
/* 밑에 컨테이너 마지막 자식 flex grow 2 */

.top-item:hover {
  background-color: #cdf0ea;
}
.bottom-item:hover {
  background-color: #faf4b7;
}

/* 아래 container 아이템(bottom-item)의 경우는 1:1:1:2 의 고정 
비율로 해야하기 때문에 flex-basis 를 0으로 주셔야 합니다. */
/* 화면이 큰 상황에서는 flex-grow 가 잘 먹어서 문제가 없지만, 
화면이 작아지면 아래 사진 처럼 고정 비율이 깨지게 됩니다. 
그 이유는 flex-basis 의 기본 속성 값이 auto 라서 컨텐츠 크기를
 기본으로 하기 때문인데 이를 0 값으로 넣어주면 컨텐츠 크기에 
 영향을 받지않고 flex-grow 로 설정한 비율로 
 고정되게 되니 참고하세요 */
